*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.hero
{
 
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


nav
{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

nav.logo
{
    width: 20px;
    
}

nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    height: 10vh;
}

nav ul a
{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.content
{
    text-align: center;
}

.content h1
{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
}


.content a
{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 10px;

}

.background 
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    align-items: center;
}

.background2
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
    align-items: center;
}

#bio
{
    width: 100%;
    padding: 70px 0;
}
.bio-text
{
    text-align: center;
    padding-bottom: 70px;
}
.bio-text p
{
    margin: auto;
    font-size: 20px;
    color: #ca2727;
    font-weight: bold;
}

.MyBIO-box
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.bio
{
    flex-basis: 50%;
}

.bio-img
{
    width: 60%;
    border: 7px;
    flex-basis: 50%;
    margin: auto;
}

.bio-img img
{
    width: 70;
    border-radius: 10px;
}

.bio h1
{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color:#009688;
}

.bio-desc
{
    display: flex;
    align-items: center;
    margin-bottom: 40px ;

}

.bio-icon .fa
{
 width: 40px;
 height: 40px;
 font-size: 30px;
 line-height: 50px;
 border-radius: 8px;
 color: #009688;
 border: 1px solid #009688 ;

}

.bio-iconText
{
    padding: 0 20px;
    text-align: initial;
}

#hobby
{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.hobby-box 
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.hobby1
{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.hobby1 img
{
    width: 60%;
    border: 7px
}

.overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background:linear-gradient(rgba (0,0,0,0.5), #009688);
    opacity: 0;
    transition: 1s;
}

.hobby1:hover .overlay
{
    opacity: 1;
}


#campus
{
    width: 100%;
    padding: 70px 0;
    background: #f19999;
}

.campus-box 
{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.campus1
{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
}
.campus1 img
{
    width:60%;
    border: 7px
}